.wrapper {
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#F5DB13;
  padding: 0 10px;
}

.inner {
  width: 100%;
  max-width: 1125px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemonLogo {
  width: 158px;
  height: 63px;
  
}

.menuWrap {
  display: flex;
  align-items: center;
  max-width: 658px;
  width: 100%;
  justify-content: space-between;
}

.menuLink {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: rgb(29, 27, 27);
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    height: 1px;
    width: 1%;
    background: rgb(29, 27, 27);
    border: 1px solid rgb(29, 27, 27);
    border-radius: 6px;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity, width ease-in-out 0.25s;
  }

  &:hover,
  &.activeLink {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
.nav_burger {
  display: none;
  width: 32px;
  height: 5px;
  margin: 4px  0px;
  border-radius: 1px;
  background-color:#212121;
  position: relative;

}
.nav_burger::before,
.nav_burger::after{
  content:"";
  width: 32px;
  height: 5px;
  margin: 0;
  border-radius: 1px;
  position: absolute;
  background-color: #212121;

}
.nav_burger::before{
  top: -10px;

}
.nav_burger::after{
  top: 10px;

}
@media (max-width: 1024px){
  .pokemonLogo img{
  height: 45px;
  width: 121px;
  }
  .pokemonLogo {
    margin-right: 50px;
  }
  .menuLink {
    font-size: 25px;
    line-height: 22px;
  }
}

@media (max-width: 768px){
  .menuWrap A{
    display: none;
  }
  .menuWrap{
    width: 40px;
  }
  .nav_burger{
    display: block;
  }
}